/*---navbar---*/
.navbar-inverse {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	border-bottom: 5px solid #00aba9;
}

.navbar-brand { 
	font-size: 28px;
	font-weight: 700;
	margin-top: 10px;
	padding-right: 0;
}

.navbar-brand span { 
	color: #00aba9;
}

.navbar-brand small { 
	font-size: 14px;
}

.navbar-right {
	padding-left: 0;
}

.navbar-right a {
	font-size: 20px;
	font-weight: 700;
	margin-top: 25px;
}

.navbar-toggle {
	margin: 25px 25px 25px 0;
}

/*---slider---*/
.jumbotron { 
	text-align: center;
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
	height: 600px;
	border-bottom: 5px solid #00aba9;
	margin-bottom: 0;
	margin-top: 75px;
}
.jumbotron h1 { color: #008287; margin-top: 200px; }
.jumbotron h1 span {
	background-color: #008287;
	color: white;
	padding: 2px 10px;
	margin: 10px 0; 
}

/*---content---*/
.content { text-align: center; }
.content h2 { color: black; font-weight: 700; }
.content p { font-size: 18px; }

/*---about---*/
.about { padding: 5em 0;}
.about h2 span { color: #00aba9; }

/*---services---*/
.services {	background-color: #008287; padding: 5em 0; }
.services h2 span {	color: white; }
.services p { color: white; }
.services-container { margin-top: 50px; text-align: left; }
.services-container h3 { color: black; font-weight: 700; }
.services-container .icon {
	width: 85px;
	height: 85px;
	border: 6px solid white;
	border-image: url(../images/icon-border.png) 9% repeat;
	float: left;
	display: inline;
	margin: 25px 15px 0 0;

}
.services-container .icon .fa {
	display:inline-block;
	line-height: 75px;
	width: 75px;
	height: 75px;
	text-align: center;
	vertical-align: bottom;
	color: white;			
}

.services-container .description {
	float: left;
	overflow: hidden;
	width: 65%;
}

.services-container .description p {
	font-size: 14px;
}

/*---news---*/
.news { padding: 5em 0; }
.news h2 span { color: #00aba9; }

.news-container { margin-top: 60px; color: white; }

.news-block-main {
	width: 100%;
	height: 390px;
	margin-bottom: 30px;
	background-image: url(../images/url.jpg);
	background-size: cover;
	background-position: 30% 50%;
}
.news-block {
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
	background-size: cover;
}
.news-block-1 {	background-image: url(../images/url1.jpg); }
.news-block-2 {	background-image: url(../images/8a829__Cocktail-Garden-designrulz-2.jpg); }
.news-block-3 {	background-image: url(../images/5.jpg); }
.news-block-4 {	background-image: url(../images/Color-Pencils.jpg); }

.date {
	width: 112px;
	height: 25px;
	float: right;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
}
.news-block-main .date { background-color: rgba(0, 0, 0, 0.7); }
.news-block .date {	background-color: rgba(0, 130, 135, 0.7); }

.news-block-main .title {
	width: 100%;
	height: 100px;
	position: relative;
	top: 275px;
	background-color: rgba(0, 130, 135, 0.7);
	text-align: left;
	padding-left: 15px;
	padding-top: 10px;
}

.news-block-main h3 {
	color: black;
	margin: 0 0 5px 0;
}

.news-block-main p {
	font-size: 14px;
}

.news-block .title {
	width: 100%;
	height: 35px;
	position: relative;
	top: 140px;
	padding-left: 15px;
	background-color: rgba(0, 0, 0, 0.7);
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	line-height: 35px;
	vertical-align: middle;
}

/*---contacts---*/
.contacts {
	padding: 5em 0;
	background-image: url(../images/contacts-bg.jpg);
	background-size: cover;
	border-bottom: 5px solid #00aba9;
}

.contacts h2 span { color: white; }
.contacts p { color: white; }
.contacts h3 { color: white; text-align: left; font-weight: }
.contacts a { color: white; }

.contacts-container {
	margin-top: 30px;
}

.map-container { margin-top: 20px; }
.map {
	width: 100%;
	height: 210px;
	border: 0;
}

.contact {
	float: left;
	line-height: 0.8;
}

.contact-adress { text-align: left; width: 40%;}
.contact-phones { text-align: right; width: 60%;}

.to-top {
	width: 40px;
	height: 40px;
	background-color: #00aba9;
	color: white; 
	float: right;
	position: relative;
	top: 30px;
	font-size: 30px;
}

/*---footer---*/
.footer { background-color: black; padding: 3em 0 2em 0; }
.footer h3 { display: inline; color: white; }
.footer span { color: #008287; }
.footer-privacy { margin-bottom: 20px; }
.footer-privacy a {	font-size: 14px; text-decoration: none;	color: white; }
.footer-socials { padding: 0; margin: 0 0 15px 0; }
.social {
	font-size: 130%;
	text-align: center;
	color: white;
	width: 26px;
	display: inline-block;
	height: 26px;
	margin-left: 4px;
}
.social .fa { color: white; }
.social-facebook { background-color: #2c509b; }
.social-twitter { background-color: #1ab2e8; }
.social-youtube { background-color: #b30600; }
.social-instagram {	background-color: #234260; }
.social-pinterest { background-color: #ca1b22; }
.social:hover {	background-color: black; }
.footer-copyright {	padding-top: 5px; padding-left: 0; }
.footer-copyright p { color: white; }